@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@300;500;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
}
#product-preview{
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    max-width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .product-container{
        display: flex;
        justify-content: space-between;
        .product-image{
            width: 50%;
            img{
                width: 100%;
                border-radius: 10px 0 0 10px;
                vertical-align: middle;
            }
        }
        .product-details{
            width: 50%;
            padding: 3em;
            .item-title{
                text-transform: uppercase;
                color: hsl(228, 12%, 48%);
                font-size: 0.75rem;
                letter-spacing: 7px;
                margin-bottom: 1.5em;
            }
            .item-name,
            .current-price{
                font-family: 'Fraunces', serif;
                font-size: 2rem;
            }
            .item-name{
                color: hsl(212, 21%, 14%);
                margin-bottom: 1em;
            }
            .item-description{
                color: hsl(228, 12%, 48%);
                letter-spacing: 0.8px;
                line-height: 1.6;
                margin-bottom: 2rem;
            }
            .price{
                display: flex;
                align-items: center;
                margin-bottom: 2.5em;
                .current-price{
                    color: hsl(158, 36%, 37%);;
                }
                .old-price{
                    font-size: 0.9rem;
                    font-weight: 500;
                    color: hsl(228, 12%, 48%);
                    padding-left: 1em;
                    text-decoration: line-through;  
                }
            }
            .item-button{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: hsl(158, 36%, 37%);
                color: hsl(0, 0%, 100%);
                width: 100%;
                border-radius: 10px;
                border: none;
                padding: 1.2em 0;
                &:hover{
                    background-color: rgb(27, 97, 71)
                }
                img{
                    padding-right: 0.5em;
                }
            }
        }
    }
}

// Responsive Design
@media (max-width: 1370px){
    #product-preview{
        width: 100%;
    }
}
@media (max-width: 850px){
    #product-preview{
        max-width: 400px;
        .product-container{
            .product-details{
                padding: 2em;
                .item-title{
                    font-size: 0.5rem;
                }
                .item-name{
                    font-size: 1.1rem;
                    margin-bottom: 0.8em;
                }
                .item-description{
                    font-size: 0.5rem;
                    margin-bottom: 1.8em;
                }
                .price{
                    margin-bottom: 1.5em;
                    .current-price{
                        font-size: 1rem;
                    }
                    .old-price{
                        font-size: 0.45rem;
                    }
                }
                .item-button{
                    font-size: 0.7rem;
                    padding: 0.5em;
                    img{
                        width: 12%;
                    }
                    h4{
                        font-size: 0.5rem;
                    }
                }
            }
        }
    }
}
@media (max-width: 450px){
    #product-preview{
        max-width: 200px;
        .product-container{
            flex-direction: column;
            .product-image{
                width: 100%;
                img{
                    border-radius: 10px 10px 0 0;
                }
            }
            .product-details{
                width: 100%;
                padding: 1em 2em;
                .item-title{
                    font-size: 0.4rem;
                }
                .item-name{
                    font-size: 1.1rem;
                }
                .item-description{
                    font-size: 0.4rem;
                    margin-bottom: 2em;
                }
                .price{
                    margin-bottom: 0.8em;
                    .current-price{
                        font-size: 0.8rem;
                    }
                    .old-price{
                        font-size: 0.4rem;
                    }
                }
                .item-button{
                    font-size: 0.5rem;
                    padding: 0.7em;
                    img{
                        width: 10%;
                    }
                }
            }
        }
    }
}